<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.com.dao.GoodsDao">
    <select id="goodList" resultType="Goods">
        select goods.*,types.id as type_id,types.name as typename from goods join types where goods.type_id=types.id
        <if test="type==1">
            and goods.id in (select good_id from tops)
        </if>
    </select>

    <select id="topsIdList" resultType="Integer">
        select good_id from tops
    </select>

    <delete id="topsDelete">
        delete from tops where good_id=#{gid}
    </delete>
    
    <insert id="topsInsert">
            insert into tops values(null ,#{tid},#{gid})
    </insert>
    
    <delete id="goodDelete">
        delete from tops where good_id=#{id};
        delete from goods where id=#{id};
    </delete>
    
    <select id="typeList" resultType="Types">
        select * from types
    </select>

    <insert id="goodSave" parameterType="Goods">
        insert into goods values(null,#{cover},#{name},#{intro},#{spec},#{price},#{stock},0,#{content},#{type_id})
    </insert>
    
    <update id="goodUpdate">
        update goods set cover=#{cover},`name`=#{name},intro=#{intro},spec=#{spec},price=#{price},stock=#{stock},content=#{content},type_id=#{type_id}
        where id=#{id}
    </update>
</mapper>